.App {
  text-align: center;
}

.Alan-logo {
  height: 40vmin;
  border-radius: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

ul {
  max-width: 600px;
  text-align: left;
}
