$content-background-color: #fcf5ee;
$default-el-background-color: rgba(255, 201, 119, .3);
$active-el-background-color: rgba(255, 201, 119, 1);
$hover-el-background-color: rgba(255, 201, 119, .5);
$primary-button-color: rgb(255, 89, 121);
$brown-color: #573535;
$white-color: #fff;
$border-radius: 30px;

