<h1 id="rocket">Welcome to your Ember App with the Alan Button</h1>

<p>
    For a guide and recipes on how to use the Alan Button check out the
    <a href="https://alan.app/docs/client-api/web/ember" target="_blank" rel="noopener">Alan Documentation</a>. Available commands: "execute command".
</p>

{{outlet}}