@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body,#root{
  background: #EDE7DD;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}
.app{
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container{
  /* background: #d2d2d278; */
  background: #387CEA;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;  
  min-width: 1024px;
  max-width: 1024px;
  max-height:768px;
  min-height:768px;
}
.background-img-a{
  background-image: url("./imgs/background-img-home.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top:0;
  left:10px;
  min-width: 1024px;
  max-width: 1024px;
  max-height:768px;
  min-height:768px;
}
.alan-btn-Container{
  /* border: brown solid 1px; */
  position: absolute;
  right:2vmin;
  bottom: 2vmin;
  width:  50px;
  height: 50px;
}
.alan-btn-Container div{
  /* border: pink solid 1px; */
  position: relative;
  height: 50px;
}
/* google-login-btn-container---------------------------------- */
.google-login-btn-container{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
/* .header-container---------------------------------- */
.header-container{
  /* background: #FFFFFF; */
  padding: 0;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  top:0;
  left:9%;
  width: 60%;
  min-height:100px;
  max-height:100px;
}
.header-container-name{
  /* background: red; */
  color:#707070 ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  top:15px;
  left:10px;
  max-width: 50%;
  min-height:25px;
  max-height:25px;
}
.middle-doctors-container-search{
  /* background: #ffffff81; */
  background: #ffffff3b;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top:18px;
  right:325px;
  border:none;
  border-radius: 15px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  min-height:50px;
  max-height:50px;
}
.middle-doctors-container-search-btns{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-width: 100px;
  min-height:50px;
  max-height:50px;
}
.middle-doctors-container-search-btns div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height:50px;
}
.middle-doctors-container-search-btns div:nth-child(2){
background-color: white;
}
.search{
  /* position: absolute;
  top:17px;
  right:14px; */
  width: 18px;
  height:18px;
}
.close{
  background:white;
  width: 22px;
  height:22px;
}
.middle-doctors-container-search:hover{
  opacity: .9;
}
.middle-doctors-container-search-opened:hover{
  opacity: .9;
}
.middle-doctors-container-search input{
  color:white;
  background: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  padding: 5px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  position: absolute;
  top:9px;
  right:65px;
  /* border-radius: 15px; */
  border:none;
  /* border:1px red solid; */
  outline: none;
  width: 510px;
}
.middle-doctors-container-search input::placeholder{
  /* background: #707070; */
  color:#ffffffa5;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 300;
}
.middle-doctors-container-doctors{
  /* border: turquoise solid 1px; */
  position: absolute;
  top:85px;
  right:325px;
  overflow: scroll;
  max-height:540px;
}
.middle-doctors-container-speciality{
    /* border: turquoise solid 1px; */
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: absolute;
    bottom:0;
    right:325px;
    overflow: scroll;
    width: 600px;
    height:135px;
}
.middle-doctors-container-speciality-cube{
  background: #387CEA;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  /* margin-right: 10.5px; */
  opacity: .5;
  display: flex;
  align-items:center;
  justify-content: center;
  border:solid 1px white;
  border-radius: 15px;
  width: 140px;
  height:120px;
}
#middle-doctors-container-speciality-cube-actived{
  opacity:1;
  color:#3ff773;
  border:solid 1px #3ff773;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
}
.middle-doctors-container-speciality-cube:hover{
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
  opacity: 1;
}
/* .left-container---------------------------------- */
.left-container{
  background: #FFFFFF;
  padding: 0;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
  width: 6.5%;
  min-height:752px;
  max-height:752px;
}
.logo-container{
  /* border: chartreuse 1px solid; */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:15px;
    width:  60px;
    height: 60px;
}
.logo-container svg{
  /* border:red 1px solid; */
  margin:5% 8%;
  width: 80%;
  height: 90%;
}
.nav-container{
  /* background: yellow; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top:200px;
  border-bottom:solid .01px #70707045;
  overflow: visible;
  width:30px;
  height:330px;
}
.nav-container div{
  /* border: crimson solid 1px; */
  margin-bottom: 20px;;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  width:  50px;
  height: 50px;
}
.nav-btn {
  /* border:solid 1px red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
}
.active-nav-btn::before{
  /* color: #e71ceecc; */
  content:"";
  background:#3ff773;
  position: absolute;
  top: 3px;
  left:-8px;
  border-radius: 0 10px 10px 0;
  width: 3px;
  height: 40px;
  }

.nav-container div:hover{
  border: #68a5f0 solid 1px;
}

.nav-container svg{
  /* border: blue solid 1px; */
  width:  20px;
  height: 20px;
}
.logout-container{
  /* background: purple; */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:15px;
  width:  60px;
  height: 60px;
}

/* .middle-container---------------------------------- */
.middle-container{
  /* border:1px solid red; */
  /* background: #FFFFFF; */
  background: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  overflow: visible;
  width: 634.88px;
  min-width:634.88px;
  max-width: 634.88px;;
  min-height:750px;
  max-height:750px;
}
/* middle -----> home */
.middle-home-container{
  /* background: #4192e3f6; */
  position: relative;
  top:0px;
  border-radius: 15px;
  overflow: visible;
  min-width: 100%;
  min-height:750px;
  max-height:750px;
}
.middle-home-container-welcome{
  /* background: blue; */
  /* color:#20478D ; */
  /* color:#3296fa ; */
  color:#464750 ;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: absolute;
  top:48px;
  left:25px;
  max-width: 50%;
  min-height:25px;
  max-height:25px;
}
.middle-home-container-img{
  background:#ffffff3b;
  position: absolute;
  top: 150px;
  left:3%;
  border-radius: 15px;
  overflow: visible;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   */
  min-width: 90%;
  min-height:350px;
  max-height:350px;
}
.middle-home-container-img div{
  margin-left: 120px;
  margin-top: 120px;
  /* border:solid blue 1px; */
  background:none;
  background-image: url('./imgs/background-img-home.jpg');
  background-position:bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  min-width: 94%;
  min-height:458px;
  max-height:458px;
}
.middle-home-container-type-list{
  /* border:solid red 1px; */
  position: absolute;
  bottom: 10px;
  left:0;
  min-width: 100%;
  min-height:150px;
  max-height:150px;
}
.middle-home-img-container{
  background-image: url("./imgs/background-img-home.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border:solid red 1px; */
  position:absolute;
  top:-55px;
  right:0px;
  min-width: 50%;
  min-height:455px;
  max-height:455px;
}
.middle-home-container .text{
  /* border:yellow solid 1px; */
  /* color:#464750 ; */
  color:white ;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 3rem;;
  font-weight: 500;
  position:absolute;
  top:55px;
  left:30px;
}
/* middle -----> doctors */
.middle-doctors-container{
  /* border:yellow solid 1px; */
  width:100%;
  height:745px;
}
.doctor-card{
  color:#464750 ;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  width:600px;
  height:80px;
}
.doctor-card img{
  margin:0 20px 0 0;
  border-radius: 15px;
  width: 50px;
  height: 60px;
}
.doctor-card-wrapper{
  /* border:solid .1px blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 510px;
  height: 60px;
}
.doctor-card-name{
  /* border:solid .1px yellow; */
  width: 350px;
}
.doctor-card-family{
  margin:0;
  /* color: #878998; */
  color: #3574D4;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  line-height: .9rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 160px;
  height: 60px;
}

.doctor-card-specialist{
  margin:0 ;
  /* border: red solid 1px; */
  color: #3574D4;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  line-height: .9rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 160px;
  /* height: 60px; */
}
/* middle -----> appointment */
.appointment-card{
  /* border:solid red 1px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 634.88px;
  min-width:634.88px;
  max-width: 634.88px;;
  height: 745px;

}
.appointment-card-sign{
  /* border: crimson solid 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width:  10vh;
  height: 10vh;
}
.appointment-card-title{
  /* border: green solid 1px; */
  color:white;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
.appointment-card-info{
  /* border: pink solid 1px; */
  color:white;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(745px - 50vh);

}
.appointment-card-info div{
    /* border: green solid 1px; */
  color:white;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 20%;
}
.appointment-card-info span{
    /* border: red solid 1px; */
  margin-right: 1%;
  color:white;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 20%;
}
/* middle -----> profile */
.profile-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 15px;
  width: 98%;
  height: 755px;
}
.profile-card-img-wrapper{
  background: #ffffff22;
  border-radius: 15px;
  width: 360px;
  height: 300px;
}
.doctor-profile-card-img-wrapper{
  background: #ffffff22;
  border-radius: 15px;
  width: 615px;
  height: 300px;
}
.profile-card-img{
  margin: 60px 0 0 calc( 50% - 65px);
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 130px;
  height:130px;
}
.doctor-profile-card-img{
  margin: 60px 0 0 calc( 50% - 65px);
  background-position:center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 130px;
  height:130px;
}
.profile-card-img img{
  min-width: 180px;
  max-width: 180px;
  min-height:130px;
  max-height:130px;
}
.doctor-profile-card-img img{
  /* border: 6px solid green;; */
  min-width: 180px;
  max-width: 180px;
  min-height:180px;
  max-height:180px;
}

.profile-card-img-txt{
  /* border: chartreuse solid 1px; */
  /* color:#504f4f ; */
  color:#2173f8 ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 26%;
}
.profile-card-info-wrapper{
  /* border: brown solid red; */
  margin-top: 15px;
  background:white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 360px;
  min-height:430px;
  max-height:430px;
}
.doctor-profile-card-info-wrapper{
  background:white;
  margin-top: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: relative;
  width: 615px;
  min-height:430px;
  max-height:430px;
  /* min-height:220px;
  max-height:220px; */
}

.doctor-profile-card-info-wrapper-family-doctor-btn{
  background: #7DF482;
position: absolute;
bottom: 20px;
right: 0;
width:80px;
height:20px;
}
.profile-card-info-title{
  padding: 0 0 0 10%;
  /* border: chartreuse solid 1px; */
  color:#2173f8 ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 90%;
  height:25%;
}
 .profile-card-info-sec{
  padding: 0 0 0 10%;
  /* border: pink solid 1px; */
  color:#504f4f ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  width: 90%;
  height:10%;
}
#profile-card-info-sec-family-doctor{
  /* border: chartreuse solid 1px; */
  position: absolute;
  bottom:-20%;
  left: 3.8%;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 10%;
}
 .profile-card-info-sec span Link{
    text-decoration: none;
}
 .profile-card-info-sec span{
  /* border: red solid 1px; */
  margin-left: 10px;
}
 .profile-card-info-sec span{
color: #3ff773;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 300;
}
.profile-card-options-wrapper{
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  width: 240px;
  min-height:745px;
  max-height:745px;
}
.profile-card-options-card{
  margin-bottom: 15px;
  background: #ffffff22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 240px;
  min-height:32%;
  max-height:32%;
}
.profile-card-options-card:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.profile-card-options-card svg{
  width:  60px;
  height: 60px;
}
/*.right-container---------------------------------- */
.right-container{
  /* border: crimson solid 1px; */
 /* background: #4191E3;; */
  padding: 0;
  margin: 0px  8px 0  8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right:8px;
  border-radius:15px;
  width: calc( 32% - 32px);
  min-height:750px;
  max-height:750px;

}
.calendar-container{
  /* border: green solid 1px; */
  background: white;
  padding: 0 5px;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius:15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;  
  height:308px;
  width: 286px;

}
.calendar-container-add-btn{
  color: white;
  background: red;
  opacity: .9;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -20px;
  left:calc((100% - 40px)/2);
  border-radius: 50%;
  width:  40px;
  height: 40px;
}
.calendar-container-add-btn:hover{
opacity: 1;
}
.react-calendar {
  /* border:pink solid 1px; */
  position: relative;
  width: 100%;
  height: 96%;
}
.react-calendar__navigation{
  /* border:purple solid 1px; */
  /* border: none; */
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:99.5%;
  height: 30px;
}
.react-calendar__navigation button{
  color: #0199f3;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8rem;
  line-height: .9rem;
}
.react-calendar__navigation__arrow ,.react-calendar__navigation__label{
  /* border:yellow solid 1px; */
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  height: 100%;
}
.react-calendar__viewContainer{
  /* border:purple solid 1px; */
  background: white;
  height: 225px;
}
.react-calendar__month-view__weekdays{
  margin-right: 0%;
  padding:0px;
  /* border:lawngreen solid 1px; */
}
.react-calendar__month-view__weekdays__weekday{
  color: #abb9cf;
  padding:2% 0;
  font-family: 'Roboto', sans-serif;
  font-size: .5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:blue solid .1px; */
  border-radius: 0;
}

.react-calendar__tile{
  /* border:#08fc00 solid 1px; */
  background: white;
  border-radius: 50%;
  border: none;
  
}
.react-calendar__month-view__weekdays__weekday abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
/* .react-calendar__navigation__arrow ,.react-calendar__navigation__label{
  color:green ;
} */
.react-calendar__month-view__days{
  padding: 0;
  /* border:solid 1px blue; */
  background: white;
  /* gap:0 7.4px; */
  position:absolute;
  left: -4px;
  width: 292px;
  height: 234px;
}
.react-calendar__month-view__days  .react-calendar__month-view__days__day{
  padding: 0;
  /* margin: 1px; */
  position: relative;
  border:solid 3px white;
  width:  38px;
  height: 38px;
}
.react-calendar__month-view__days__day_with_event::after{
  background-color: tomato;
  content: "";
  position: absolute;
  bottom:4px;
  left:17px;
  border-radius: 50%;
  width:  3px;
  height: 3px;

} 
.react-calendar__month-view__days__day abbr{
  color:#616479c2 ;
  font-family: 'Roboto', sans-serif;
  font-size: .6rem;
  font-weight: 600;
}
.react-calendar__tile--now {
  background: yellow;
}
.react-calendar__tile--now abbr{
}
.react-calendar__month-view__days__day--neighboringMonth abbr{
  color:#ecf6ff ;
}
.react-calendar__month-view__days__day--weekend{
}
.react-calendar__tile--rangeStart {
  background: #0199f3;
}
.react-calendar__tile--rangeStart abbr{
  color: white;
}

.appointment-container{
  /* border: purple solid 1px; */
  padding: 0;
  margin:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 350px;
  max-height: 350px;

}
.event-form-container{
  /* border: solid yellow 1px; */
  background: #387CEA;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left:-636px;
  top:0;
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  width: 634.88px;
  min-width:634.88px;
  max-width: 634.88px;;
  height: 752px;
}
.event-form-container-header{
  /* border: solid blue 1px; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 60px;
}
.event-form-container-header-btn{
  /* border: solid blue 1px; */
  background:#ffffff22;
  color:white ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width:  35px;
  height: 35px;
}
.doctor-time-slots-wrapper{
  /* border:yellow 1px solid; */
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /* width: 615px; */
  width:515px;
  min-height:330px;
  max-height:330px;
}
.doctor-time-slots-date{
  /* border: green solid 1px; */
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 615px;
  min-height:35px;
  max-height:35px;
}
.doctor-available-time-slots{
  /* border: green solid 1px; */
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 615px;
  min-height:50px;
  max-height:50px;
}
.doctor-available-time-slots span{
  color: #7DF482;
  margin-right: 6px;
}
.doctor-time-slots-scroll{
  /* border: crimson solid 1px; */
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow: scroll;
  width:515px;
  min-height:191px;
  max-height:191px;
}
.event-form-container-header-btn:hover{
  background:red;
}
.event-form-container-title{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* border-bottom: solid white 2px; */
  width: 85%;
  height: 80px;
}
.event-form-container-title-input{
  background: none;
  color: white;
  padding-top: 4%;
  margin-bottom: .6%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 0 0 0%;
  border-bottom:.1px solid hsla(0, 0%, 100%, 0.231);
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
  height: 35px;
}
.event-form-container-title-input:focus { 
  padding-left: 1%;
  border-bottom:2px solid white;
  outline: none;
}
.event-form-container-title-input::placeholder{
  /* background: #ffffff68; */
  color:white;
  padding-top: 4%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  height: 40px;
}
.event-form-container-date{
  border:solid blue 1px;
  color: white;
  margin-top: 1%;;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
  min-height:300px;
  max-height:300px;
}
.event-form-container-date-date{
  /* border:solid blue 1px;  */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
  height:100%;
}
.event-form-container-date-selectors{
  /* border:orangered solid 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 25%;
  height:72%;
}
.event-form-container-date-input{
  background: white;
  color:#616479f6 ;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 50%;
  height:100%;
}
#left{
  border-radius: 5px 0 0 5px;
  border-right:solid .1px #4192e3f6;
  border-left:none;
  border-top:none;
  border-bottom:none;
}
#right{
  border-radius: 0 5px 5px 0;
  border-left:solid .1px #4192e3f6;
  border-right:none;
  border-top:none;
  border-bottom:none;
}
.select-option-contrainer-left{
  z-index: 2;
  background: white;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  bottom:-42px;
  left:0;
  border-radius: 5px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow: scroll;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 131px;
  height:100%;
}

.select-option-contrainer-right{
  z-index: 2;
  background: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom:-42px;
  left:0;
  border-radius: 5px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
  overflow: scroll;
  scroll-behavior: smooth;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  width: 131px;
  height:100%;
}
.select-option-contrainer-left::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.select-option-contrainer-right::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.select-option-contrainer-left div{
  /* background: aqua; */
  color:#616479f6 ;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 300;
  width: 95%;
}
.select-option-contrainer-right div{
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  text-align: end;
  width: 95%;
}
.calendar-container-save-btn{
  background: #ff0000;
  color: white;
  padding: 15px;
  opacity: .9;
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* pointer-events: none; */
  bottom: 20px;
  right: 50px;;
  border-radius: 5px;
  /* width: 80px;
  height: 40px; */
}
#calendar-container-save-btn-active{
  background:red;
  pointer-events:all;
}
#calendar-container-save-btn-active:hover{
  opacity: .5;
}
.event-form-container-date-description{
  padding: 10px;
  color:#616479f6 ;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  position: absolute;
  top: 210px;
  left: 50px;;
  border-radius: 5px;
  border:none;
  resize: none;
  outline: none;
  width:495px;
  height: 100px;
}
.event-form-container-date-doctors{
  /* border:solid 1px red; */
  position: absolute;
  top: 350px;
  left: 50px;;
  width:515px;
  height: 200px;
}
.form-doctor-card-Warapper{
  background: #ffffff3e;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  width:515px;
  height: 200px;
}
.form-doctor-card-Warapper-img{
  margin:0 15px 0 15px;
  background-position:left top;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  width:  150px;
  height: 170px;
}
.form-doctor-card-Warapper-desc{
  /* border:orangered solid 1px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width:320px;
  height: 170px;
}
.form-doctor-card-Warapper-desc .profile-card-info-sec{
  padding: 0 0 0 4%;
  margin-bottom: 4%;
  /* border: chartreuse solid 1px; */
  /* color:#504f4f ; */
  color:white ;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 90%;
  /* height:10%; */
}
.form-doctor-card-Warapper-desc .profile-card-info-sec span{
  /* border:orangered solid 1px; */
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 300;
}
/* .calendar-container-save-btn:hover{
  opacity: 1;
} */
.appointment-container-scroller-wrapper{
  /* border:solid 1px yellow; */
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  width: 99%;
  /* min-height: 300px; */
  max-height: 280px;
}
.appointment-container-scroller{
  /* border:solid 1px pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.appointment-container-add-date{
  /* background: #ffffff18; */
  margin: 10px 0 0 0;
  padding: 0;
  border:solid .1px #ffffff8d;
  margin-bottom: 5px;
  display: flex;
  align-items:center;
  justify-content: center;
  border-radius: 5px;
  width: 96%;
  min-height:58px
}
.appointment-container-add-date-sign{
  background: #ffffff49;
  color:#387CEA;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 38px;
  height:38px;
}
.appointment-container-add-date:hover{
  border:solid .4px white;
}
.appointment-container-add-date:hover div{
  background: white;
}
.appointment-container-scroller-date{
  background: #ffffff18;
  margin: 0;
  padding: 0;
  /* border:solid .1px #ffffff8d; */
  margin-bottom: 5px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  border-radius: 5px;
  width: 98%;
  min-height:60px
}
.appointment-container-scroller-date:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.appointment-container-scroller-date-left{
  color:white ;
  margin: 0;
  padding: 0;
  /* border:solid 1px blue; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: .8rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height:50px;
}
.appointment-container-scroller-date-left span{
  margin: 0;
  padding: 0;
  /* border:solid 1px yellow; */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .7rem;
  line-height: .8rem;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height:50px; */
}
/* .appointment-container-scroller-date-left::after{
  background: white;
  content: "";
  margin-left: 40px;
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height:8px;
} */
.appointment-container-scroller-date-right{
  /* background: #ffffff18; */
  color: white;
  margin: 0;
  padding: 0 0 0 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:   .7rem;
  line-height: .7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  width: 70%;
  height:30px;
}